.button {
  font-family: sans-serif;
  font-weight: 700;
  padding: 8px;
  background: #9f9f9f;
  border-radius: 6px;
  border: "1px solid";
  border-color: #6e6d6d;
  width: max-content;
  padding: 8px 20px;
}
